:root{
     --navy: #0009b1;
     --mildblue:#0071E3;
     --goldyellow:#FFC300;
     --lightash:#fafafc;
     --green:rgba(0, 255, 174, 0.826);
      --rose:#ffd9d913;
     --pink:#fe00fe;
     --black:#000000;
     --gray:#c6c6c6;
     --lightblack:#393939;
     --lightgray:#a0a0a0;
     --lightblack:#424242;
     

     
     --font:'Readex Pro',sans-serif;
     --stylishfont:'Noto Serif', 
     serif;
     --marker:'Permanent Marker', 'cursive';
     --lora: 'Lora', serif;
     --acmefont: 'Acme', sans-serif;
}






.wrap{
  margin: 15px 0px 0% 0px ;
  overflow-x: hidden;

     backdrop-filter:blur(15px);
     background-color: var(--rose);
     position: relative;
     text-shadow: 0.2px 0.2px 0px #faebd7;
    
     min-width: 85vw;
     border-right:5px groove var(--rose) ;
    
     border-radius: 20px;
     min-height: 85vh;
     display: flex;
     flex-direction: column;
     z-index: 3;
    
     background: linear-gradient(343deg, rgba(82, 0, 95, 0.374) 30%, rgba(68, 0, 110, 0) 60%);
     background-position: left;
     background-size:1500px ;
     background-repeat: no-repeat;
     box-shadow: 0px 0px 20px  #710071;
}

.web{
    display: inline;
     position: relative;
    left: 15%;
    background-color: transparent;
     font-family: var(--serif);
     color: var(--black);
  font-weight: bolder;
   
     font-size: calc(100vw - 94vw);
   }

   .de{
     background-color: transparent;
    
   position: relative;
   left: 0%;
   /* left: calc(100vw - 85%) ;
   top:calc(100vh - 30%); */
     font-family: var(--serif);
     color: var(--black);
     font-size: clamp(calc(100vw - 92vw) ,200px,calc(100vw - 91vw)) ;
   

   }
   .di{
     background-color: transparent;
  
     left: 20%;
     position: relative;
     /* top:calc(100vh - 70%);
     left: calc(100vw - 70%) ; */
       font-family: var(--serif);
       color: var(--black);
       font-size: clamp(calc(100vw - 92vw) ,200px,calc(100vw - 90vw)) ;
      
   }


   .namewrap{
    background-color: transparent;
    display: flex;
    text-align: center;
    /* align-items: center;
    justify-content:center; */
    flex-direction: column;
    position: absolute;
    top:45vmin ;
    left: 40%;
    /* width: 50%; */
    text-shadow:none;
   }


   #name
   {
    font-weight: bolder;
    font-size: clamp(calc(100vw - 97vw) ,30px,calc(100vw - 96vw)) ;
    letter-spacing: 3px;
    margin-bottom: 5%;
    word-spacing: 5px;
     
   }
  .name{
    background-color: transparent;
   /* left: 75vmax; */
    font-weight:600;
    /* top: -25%; */
  letter-spacing: 1px;
  word-spacing: 2px;
    /* top:calc(100vh - 70%);
    left: calc(100vw - 70%) ; */
      font-family: var(--lora);
      color: var(--black);
      font-size: clamp(calc(100vw - 98vw) ,20px,calc(100vw - 97vw)) ;

  }


   .img{
 
     display: block;

     background-color: transparent;
     left:58vmax;
     top: 3%;
    width: 30vmin;
     height:40vmin;
     position:absolute;
     background-image: url('./images/fariedimg.png');
   
     background-position: center;
    
     background-size:27vmin ;
     background-repeat: no-repeat;
     border-radius: 100px;
     z-index: 3;
   
   
    
    
   }


   .img:hover{
     transition-duration: 0.3s;
     transition-timing-function: ease-in;
     filter: grayscale(70%) brightness(90%);
     transform: scale(0.99);
    

   }
   .img:hover::after{
      content: "drag me";
      position: fixed;
      top: 80%;
      left: 32%;
      letter-spacing: 2px;
      font-weight: bolder;
     
      
   }



   


.bgimgwrap
{
 position: absolute;
 z-index: 1;

 margin: 0%;
 width: 70vw;
 /* height: 85vh; */

 background-color: transparent;
}

.bg1
{
   background-image: url('./images/Ellipse\ 1.png');
   z-index: 1;
   position: absolute;
   background-color: transparent;
 
   width: 170px;
   top: -40px;
   left: -100px;
   height: 170px;
   background-repeat: no-repeat;
   background-position: center;
   /* background-attachment: fixed; */
   background-size: 170px;

   animation: circle 3s  ease-in-out 2s infinite  ;

}
@keyframes circle {
   0%{
      transform:rotate(72deg) ;
      transform:scale(1) ;
      
    
   }
   20%{transform:rotate(144deg);transform: scale(1.1) }
   60%{transform: scale(1.1);transform:rotate(216deg) 
    
   }
   80%{ transform:  scale(1.1);transform:rotate(288deg)  }

   100%{
      transform:rotate(360deg) ;
      transform:scale(1) ;
      
    

   }
}




.bg2
{
   background-image: url('./images/Ellipse\ 2.png');
   z-index: 1;
   position: absolute;
   background-color: transparent;
   left: 60vmax;
  
   width: 150px;
   filter:contrast(150%);
   height: 150px;
   background-repeat: no-repeat;
   background-position: center;
   /* background-attachment: fixed; */
   background-size: 150px;
}

.bg3
{
   background-image: url('./images/Ellipse\ 4.png');
   z-index: 1;
   position: absolute;
   background-color: transparent;
 filter: contrast(130%);
   width: 170px;
   top: 290px;
  
   height: 170px;
   background-repeat: no-repeat;
   background-position: center;

   background-size: 165px;
}

 .bg5
{
   background-image: url('./images/Ellipse\ 3.png');
   z-index: 1;
   position: absolute;
   background-color: transparent;
   filter:contrast(150%);
   width: 150px;
   top: 330px;
   left: 65vmax;
   height: 150px;
   background-repeat: no-repeat;
   background-position: center;

   background-size: 150px;
} 


.bg4
{
   background-image: url('./images/Ellipse\ 6.png');
   z-index: 1;
   position: absolute;
   background-color: transparent;
  
   width: 200px;
   top: 0px;
   left: 30vw;
   height: 200px;
   background-repeat: no-repeat;
   background-position: center;
   /* background-attachment: fixed; */
   background-size: 160px;
}




























   @media only screen and (width < 500px) {
    




.web{
    
     position: relative;
     top: 30vmin;
 
    left: 15%;
    background-color: transparent;
     font-family: var(--serif);
     color: var(--black);
  font-weight: bold;
   
  font-size: calc(100vw - 90vw);
   }

   .de{
     background-color: transparent;
     top: 30vmin;
   position: relative;
   left: 2%;
   font-weight: bold;
   /* left: calc(100vw - 85%) ;
   top:calc(100vh - 30%); */
     font-family: var(--serif);
     color: var(--black);
     font-size: calc(100vw - 90vw);
   

   }
   .di{
     background-color: transparent;
     top: 30vmin;
     left: 12%;
     font-weight: bold;
     position: relative;
     /* top:calc(100vh - 70%);
     left: calc(100vw - 70%) ; */
       font-family: var(--serif);
       color: var(--black);
       font-size: calc(100vw - 90vw);
      
   }


   .namewrap{
    /* margin-inline: auto; */
    background-color: transparent;
    display: inline;
  left: 0px;
  font-size: smaller;
   font-weight: small;
   
 
    position: relative;
  
  
    

 
   }

   #name{
    font-size: 30px ;
    font-weight: 500;
   }

  .name{
    background-color: transparent;
  
    font-weight: bold;
    font-family: var(--marker);
      color: var(--black);
      font-size: 20px ;
     /* text-align: left; */
      /* width: 70vw; */

  }


   .img{
    border: 1px solid;
     display: block;
  top: 5%;
     background-color: transparent;
     left: 50vmin;
   
    width: 40vmin;
     height:45vmin;
     position:absolute;
     background-image: url('./images/fariedimg.png');
   
     background-position: center;
     padding-top: 10%;
     background-size:35vmin ;
     background-repeat: no-repeat;
     border-radius: 80px;
     z-index: 3;
   }
     
.bgimgwrap
{
 position: absolute;
 z-index: 1;

 margin: 0%;
 width: 70vw;
 /* height: 85vh; */

 background-color: transparent;
}

.bg1
{
   background-image: url('./images/Ellipse\ 1.png');
   z-index: 1;
   position: absolute;
   background-color: transparent;
 
   width: 170px;
   top: -20px;
   left: -100px;
   height: 170px;
   background-repeat: no-repeat;
   background-position: center;
   /* background-attachment: fixed; */
   background-size: 170px;
}


.bg2
{
   background-image: url('./images/Ellipse\ 2.png');
   z-index: 1;
   position: absolute;
   background-color: transparent;
   left: 30vmax;
  top: 240px;
   width: 150px;
   filter:contrast(150%);
   height: 150px;
   background-repeat: no-repeat;
   background-position: center;
   /* background-attachment: fixed; */
   background-size: 120px;
}

.bg3
{
   background-image: url('./images/Ellipse\ 4.png');
   z-index: 1;
   position: absolute;
   background-color: transparent;
 filter: contrast(130%);
   width: 120px;
   top: 200px;
  
   height: 120px;
   background-repeat: no-repeat;
   background-position: center;

   background-size: 120px;
}

 .bg5
{
   background-image: url('./images/Ellipse\ 3.png');
   z-index: 1;
   position: absolute;
   background-color: transparent;
   filter:contrast(150%);
   width: 100px;
   top: 70vh;
   left: 5vmax;
   height: 100px;
   background-repeat: no-repeat;
   background-position: center;

   background-size: 100px;
} 


.bg4
{
   background-image: url('./images/Ellipse\ 6.png');
   z-index: 1;
   position: absolute;
   background-color: transparent;
  
   width: 200px;
   top: 0px;
   left: 45vw;
   height: 200px;
   background-repeat: no-repeat;
   background-position: center;
   /* background-attachment: fixed; */
   background-size: 160px;
}


   
   
    
    
   }



 

    
 