:root{
     --navy: #0009b1;
     --mildblue:#dbdcff88;
     --goldyellow:#FFC300;
     --green:rgba(0, 255, 174, 0.826);
     --blue:#0071E3;
     --lightash:#6c6c6c ;
     --black:#000000;
     --lightblack:#424242;
     --travs:#f5f5f500;
     --font:'Readex Pro',sans-serif;
     --stylishfont:'Noto Serif', 
     serif;
     --marker:'Permanent Marker', 'cursive';
     --lora: 'Lora', serif;
     --acmefont: 'Acme', sans-serif;
}




.circle
{
     background-image: url('./images/Rectangle3.png' );
     z-index: 2;
     background-position:  center center;
     background-blend-mode: darken;
     background-attachment:scroll;
     background-repeat: no-repeat;
     background-size: 10vw;
}

.qualificationwrap
{
     min-width: 85vw;
     background-color:transparent;
} 




 .whatido
{
 font-weight: bolder;
 font-size: 16px;
 border-radius: 15px;

 position: relative;
    display: flex;
    flex-direction:column;

  width: 90vw;
 
 
  background-image: url('./images/Rectangle5.png');
  background-blend-mode: darken;
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-size: 75vw;

  background-position: left center;

} 


.uiux{
     border: 0.5px groove var(--blue);
     margin-top: 5%;
     margin-left:40%;
     padding: 5px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-items: end;
     justify-content: space-around;
 backdrop-filter: blur(25px);
min-height: 60vh;
max-width: 55vw;
 font-family: var(--stylishfont);
 
 box-shadow: 0px 0px 20px  #ff00a2;
 font-weight: bolder;

 text-align: center;
 border-radius: 100px;
 position: relative;
 background-color: #ff00a21b;

 border-top-left-radius: 0%;
 border-bottom-right-radius: 0%; 
 
 background-image: url('./images/flower3.png');
 background-position: right center;
  background-blend-mode: darken;
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-size: 25vw;
  




}


 .uiux  h4{
  
    margin-inline: auto;
     font-family: var(--lora);
     display: flex;
     font-weight: 900;
     flex-direction: column-reverse;
      position: relative;
      font-weight: 500;
      font-size: 30px;
  letter-spacing: 5px;
      background-color: transparent;
 
    text-shadow: 0px 0px 2px #ff0055 ;
    
 } 

 .uiux p{
   background-color: transparent;
   font-weight: bold;
   font-size:18px ;
   letter-spacing: 1px;
   text-align:center;
   word-spacing: 4px;
   padding-top: 0px;
  z-index: 2;
  background: -webkit-linear-gradient(var(--black), #ff00a2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  
 }
 .uiux  h4 span {
     backdrop-filter: blur(5px);
     line-height: 15px;
     width: 100%;
     border-radius: 20px;
     align-items: center;
   background-color: transparent;
 
   color: var(--navy);
   opacity: 0.9;
   font-size: 50px;
   margin-bottom: 15%; 
   margin-inline: auto;

 
 } 




 .website{
     border: 0.5px groove var(--blue);
     margin-top: 5%;
     display: flex;
     align-content: end;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     /* backdrop-filter: blur(25px); */
max-width: 60vw;
min-height: 70vh;
 font-family: var(--stylishfont);
 
 box-shadow: 0px 0px 20px  #008509 inset;
 font-weight: bolder;
 /* height: 31vh; */
 text-align: center;
 border-radius: 100px;
 border-top-right-radius: 0%;
 border-bottom-left-radius: 0%; 
 position: relative;
 background-color:#0085091a ;
 background-image: url('./images/flower5.png');
 background-position: left center;
  background-blend-mode: darken;
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-size: 30vw;
 

   
}


.website  h4{


   font-family: var(--lora);
   display: flex;
   font-weight: 900;
   flex-direction: column-reverse;
    position: relative;
    font-weight: 500;
    font-size: 30px;
    /* margin-top: 5%; */
    background-color: transparent;
    text-shadow: 0px 0px 2px var(--green) ;
    
 } 

 .website p{
   
   background-color: transparent;
   font-weight: 700;
   letter-spacing: 1px;
 
   font-size:18px ;
   letter-spacing: 1px;
  
   text-align: center;
   word-spacing: 4px;

  z-index: 2;
  justify-content: center;
  background: -webkit-linear-gradient(navy, #008509);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  
 }
 .website  h4 span {
     line-height: 15px;
     width: 70%;
     border-radius: 20px;
     align-items: center;
   
 
   color: var(--navy);
   opacity: 0.9;
   font-size: 55px;
   margin-bottom: 5%; 
   margin-inline: auto;
 
 }









.mobile{
     margin-top: 5%;
     min-height: 65vh;
     padding: 5px;
max-width: 55vw;
     margin-left:40%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
 backdrop-filter: blur(25px);

 font-family: var(--stylishfont);
border: 0.5px groove var(--blue);
 box-shadow: 0px 0px 20px  #5a009a;
 font-weight: bolder;
 /* height: 31vh; */
 text-align: center;

 position: relative;
 background-color: #5a009a1e;
 border-radius: 100px;
 border-top-right-radius: 0%;
 border-bottom-left-radius: 0%;
 background-image: url('./images/flower4.png');
 background-position: left center;
  background-blend-mode: darken;
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-size: 30vw;
 
}


.mobile h4{
    
  
   font-family: var(--lora);
   display: flex;
   font-weight: 900;
   flex-direction: column-reverse;
    position: relative;
    font-weight: 500;
    font-size: 30px;

    background-color: transparent;
    text-shadow: 0px 0px 2px #ff0055 ;
    
 } 

 .mobile p{
   background-color: transparent;
   font-weight: 700;
 
   font-size:18px ;
   letter-spacing: 1px;


   letter-spacing: 1px;
   text-align: center;
   word-spacing: 4px;
   padding-top: 0px;
  z-index: 2;
  justify-content: center;
  background: -webkit-linear-gradient(rgb(90, 0, 154), #b80090);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  
 }
 .mobile  h4 span {
     line-height: 15px;
     width: 60%;
     border-radius: 20px;
    align-items: center;
     background-color: transparent;
   color: var(--navy);
  
   opacity: 0.9;
   font-size: 55px;
   margin-bottom: 10%; 
   margin-inline: auto;

 
 }






















 .degreewrap
 {
     backdrop-filter: blur(20px);
     margin-top: 5%;
     flex-direction: column;
     display: flex;
    background-color: transparent;
    
     width: 94vw;
   
     background-image: url('./images/flower1.png');
     background-size: contain;
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-position:  center center; 
     z-index: 1;

 }

.bsawrap
{
     backdrop-filter: blur(20px);
  background-color: #0c7c000a ;
  min-height: 50vh;
  max-width: 70vw;
   margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
     padding: 5px;
     border-radius: 50px;
     box-shadow: 0px 0px 10px  #0c7c00 ;
     z-index: 2;
     font-family: var(--acmefont);
}



 .bca{
  
    
     /* backdrop-filter: blur(20px); */
     background-color: transparent;
     font-size: x-large;
     
     font-style: var(--lora);

     background: -webkit-linear-gradient(rgb(0, 0, 0), #00c00d);
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-text-fill-color: transparent;
} 



.bsawrap p{
     backdrop-filter: blur(20px);
     background-color: transparent ;
     border: 1px solid transparent;
     border-radius: 50px;
  font-size: 20px;
  font-style: (var(--acmefont));
  word-spacing: 3px;
   
} 

.mcawrap
{
     z-index: 2;
     background-color: #0000fe10;
     min-height: 50vh;
     max-width: 70vw;
     margin-bottom: 3%;
   margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
     padding: 5px;
     border-radius: 50px;
     box-shadow: 0px 0px 10px  #0000fe ;
    transition-duration: 10ms;
     backdrop-filter: blur(20px);
     font-family: var(--acmefont);
}



 .MCA{
     /* backdrop-filter: blur(20px); */
     /* background-color: #0000fe43; */
     font-size: x-large;
     background-color:transparent;
     font-style: var(--lora);
     border: 1px solid transparent;
     border-radius: 50px;
     background: -webkit-linear-gradient(#000000, #0004ffee);
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-text-fill-color: transparent;
} 



.mcawrap p{
     text-indent: 20px;
     border: 1px solid transparent;
     border-radius: 30px;
     background-color: #0000fe00;
  font-size: 20px;
  font-style: (var(--acmefont));
  word-spacing: 3px;
  backdrop-filter: blur(20px);
   
} 





.qualificationwrap span
{
     background-color: transparent;
     color: var(--lightblack);
     opacity: 1;
     font-size: 40px;
     position: relative;
     background-color: transparent;
     top: 20px;
     backdrop-filter: blur(20px);
   
}

.certpro
{ 
     background-color: transparent;
     backdrop-filter: blur(20px);
margin-inline: auto;
   width:80%;
   border: 1px solid transparent;
   border-radius: 50px;
   
  
} 

.projects , b , i  {
     background-color: transparent;
     left: -3.5px;
     text-align: center;
    

}

.certficate ,b ,i ,a {
     background-color: transparent;
     left: -3.5px;
     text-align: center;
     text-decoration: none;
    
    
}



@media only screen and (max-width : 500px ){
     .circle{
         
          background-image: url('./images/Rectangle3.png' );
          z-index: 2;
          background-position:  center center;
          background-blend-mode: darken;
          background-attachment:scroll;
          background-repeat: no-repeat;
          background-size: 10vw;
     }
     .qualificationwrap{
          min-width: 85vw;
         overflow: hidden;
          background-color:transparent;
         
     } 
     
     
     
     
      .whatido
     {
      font-weight: bolder;
      font-size: 16px;
      border-radius: 15px;
     
      position: relative;
         display: flex;
         flex-direction:column;
     
       width: 90vw;
       /* min-height: 100vh; */
      
       background-image: url('./images/Rectangle5.png');
       background-blend-mode: darken;
       background-attachment:scroll;
       background-repeat: no-repeat;
       background-size: 75vw;
     
       background-position: left center;
     
     } 
     
     
     .uiux{
          background-color: #ff00a21b;
          border: 0.5px groove var(--blue);
          margin-top: 5%;
          margin-left:20%;
          padding: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-items: end;
          justify-content: space-around;
      backdrop-filter: blur(25px);
     min-height: 65vh;
     min-width: 75vw;
      font-family: var(--stylishfont);
      
      box-shadow: 0px 0px 20px  #ff00a2;
      font-weight: bolder;
     
      text-align: center;
      border-radius: 100px;
      position: relative;
   
     
      border-top-left-radius: 0%;
      border-bottom-right-radius: 0%; 
      
      background-image: url('./images/flower3.png');
      background-position: right center;
       background-blend-mode: darken;
       background-attachment:scroll;
       background-repeat: no-repeat;
       background-size: 30vw;
      
}
     
     
       .uiux  h4{
       
        /* text-shadow: 0px 0px 2px #ff0055 ; */
        /* color:var(--black); */
        font-family: var(--lora);
        display: flex;
        font-weight: 900;
        flex-direction: column-reverse;
         position: relative;
         font-weight: 500;
         font-size: 30px;
     
     
        border: 1px solid transparent;
        border-top-right-radius: 100px; 
         background-color: transparent;
     
         text-shadow: 0px 0px 2px #ff0055 ;
         
      } 
     
      .uiux p{
     
      
     
        background-color: transparent;
        font-weight: bold;
        font-size:18px ;
        letter-spacing: 1px;
        text-align:center;
       
     
        word-spacing: 4px;
        padding-top: 0px;
       z-index: 2;
     
     
      
       
     
     
       background: -webkit-linear-gradient(var(--black), #ff00a2);
       -webkit-background-clip: text;
       background-clip: text;
       -webkit-text-fill-color: transparent;
       
       
      }
      .uiux  h4 span {
        background-color: transparent;
     
        color: var(--navy);
        opacity: 0.9;
        font-size: 55px;
        margin-bottom: 15%; 
     
      
      }
     
     
     
     
      .website{
          left: 5%;
          border: 0.5px groove var(--blue);
          margin-top: 20%;
          display: flex;
          align-content: end;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          backdrop-filter: blur(25px);
          min-width: 75vw;
     min-height: 70vh;
      font-family: var(--stylishfont);
      
      box-shadow: 0px 0px 20px  #008509 inset;
      font-weight: bolder;
      /* height: 31vh; */
      text-align: center;
      border-radius: 100px;
      border-top-right-radius: 0%;
      border-bottom-left-radius: 0%; 
      position: relative;
      background-color:#0085091a ;
      background-image: url('./images/flower5.png');
      background-position: left center;
       background-blend-mode: darken;
       background-attachment:scroll;
       background-repeat: no-repeat;
       background-size: 30vw;
      
     
        
     }
     
     
     .website  h4{
     
     
        font-family: var(--lora);
        display: flex;
        font-weight: 900;
        flex-direction: column-reverse;
         position: relative;
         font-weight: 500;
         font-size: 30px;
         /* margin-top: 5%; */
         background-color: transparent;
         text-shadow: 0px 0px 2px var(--green) ;
         
      } 
     
      .website p{
        
        background-color: transparent;
        font-weight: 700;
        letter-spacing: 1px;
      
        font-size:18px ;
        letter-spacing: 1px;
       
        text-align: center;
        word-spacing: 4px;
     
       z-index: 2;
       justify-content: center;
       background: -webkit-linear-gradient(navy, #008509);
       -webkit-background-clip: text;
       background-clip: text;
       -webkit-text-fill-color: transparent;
       
       
      }
      .website  h4 span {
        background-color: transparent;
      
        color: var(--navy);
        opacity: 0.9;
        font-size: 55px;
        margin-bottom: 5%; 
     
      
      }
     
     
     
     
     
     
     
     
     
     .mobile{
          margin-top: 19%;
          min-height: 65vh;
          padding: 5px;
     min-width: 75vw;
          margin-left:20%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
      backdrop-filter: blur(25px);
     
      font-family: var(--stylishfont);
     border: 0.5px groove var(--blue);
      box-shadow: 0px 0px 20px  rgb(90, 0, 154);
      font-weight: bolder;
      /* height: 31vh; */
      text-align: center;
     
      position: relative;
      background-color: #5a009a1e;
      border-radius: 100px;
      border-top-right-radius: 0%;
      border-bottom-left-radius: 0%;
      background-image: url('./images/flower4.png');
      background-position: left center;
       background-blend-mode: darken;
       background-attachment:scroll;
       background-repeat: no-repeat;
       background-size: 30vw;
      
     }
     
     
     .mobile h4{
         width: 70%;
        /* text-shadow: 0px 0px 2px #ff0055 ; */
        /* color:var(--black); */
        font-family: var(--lora);
        display: flex;
        font-weight: 900;
        flex-direction: column-reverse;
         position: relative;
         font-weight: 500;
         font-size: 30px;
     
         background-color: transparent;
         text-shadow: 0px 0px 2px #ff0055 ;
         
      } 
     
      .mobile p{
        background-color: transparent;
        font-weight: 700;
      
        font-size:18px ;
        letter-spacing: 1px;
     
     
        letter-spacing: 1px;
        text-align: center;
        word-spacing: 4px;
        padding-top: 0px;
       z-index: 2;
       justify-content: center;
       background: -webkit-linear-gradient(rgb(90, 0, 154), #b80090);
       -webkit-background-clip: text;
       background-clip: text;
       -webkit-text-fill-color: transparent;
       
       
      }
      .mobile  h4 span {
        background-color: transparent;
        backdrop-filter: blur(5px);
        color: var(--navy);
        opacity: 0.9;
        font-size: 55px;
        margin-bottom: 10%; 
     
      
      }
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
      .degreewrap
      {
          margin-inline: auto;
          backdrop-filter: blur(20px);
          margin-top: 5%;
          flex-direction: column;
          display: flex;
         background-color: transparent;
         
          width: 95vw;
        
          background-image: url('./images/flower1.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position:  center center; 
          z-index: 1;
     
      }
     
     .bsawrap
     {
          /* backdrop-filter: blur(20px); */
       background-color: transparent;
       min-height: 50vh;
       max-width: 100vw;
       text-indent: 20px;
        margin-inline: auto;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-around;
          background-color:transparent;
          padding: 5px;
          border-radius: 50px;
          box-shadow: 0px 0px 10px  #0c7c00 ;
          z-index: 2;
          font-family: var(--acmefont);
     }
     
     
     
      .bca{
          backdrop-filter: blur(20px);
          background-color: transparent;
          font-size: x-large;
          background-color:transparent;
          font-style: var(--lora);
     
          background: -webkit-linear-gradient(rgb(0, 0, 0), #00c00d);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
     } 
     
     
     
     .bsawrap p{
          backdrop-filter: blur(20px);
          background-color: transparent;
       font-size: 20px;
       font-style: (var(--acmefont));
       word-spacing: 3px;
        
     } 
     
     .mcawrap
     {
          text-indent: 20px;
          z-index: 2;
          background-color: transparent;
          min-height: 50vh;
          min-width: 95vw;
          margin-bottom: 10%;
        margin-inline: auto;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-around;
          background-color:transparent;
          padding: 5px;
         
          box-shadow: 0px 0px 10px  #0000fe ;
         transition-duration: 10ms;
          backdrop-filter: blur(20px);
          font-family: var(--acmefont);
     }
     
     
     
      .MCA{
          backdrop-filter: blur(20px);
          background-color: transparent;
          font-size: x-large;
          background-color:transparent;
          font-style: var(--lora);
     
          background: -webkit-linear-gradient(#000000, #0004ffee);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
     } 
     
     
     
     .mcawrap p{
          background-color: transparent;
       font-size: 20px;
       font-style: (var(--acmefont));
       word-spacing: 3px;
       backdrop-filter: blur(20px);
        
     } 
     
     
     
     
     
     .qualificationwrap span
     {
        
          background-color: transparent;
          color: var(--lightblack);
          opacity: 1;
          font-size: 40px;
          position: relative;
          background-color: transparent;
          top: 20px;
          backdrop-filter: blur(20px);
        
     }
     
     .certpro
     { 
          background-color: transparent;
          backdrop-filter: blur(20px);
     
        width:80%;
        
       
     } 
     
     .projects , b , i  {
          background-color: transparent;
          left: -3.5px;
          text-align: center;
         
     
     }
     
     .certficate ,b ,i ,a {
          background-color: transparent;
          left: -3.5px;
          text-align: center;
          text-decoration: none;
         
         
     }

}